
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Order/_LayoutPage.cshtml";
}

<table class="table table-bordered table-striped">
    <tr>
        <td>測試</td>
        <td>123</td>
        <td>測試</td>
        <td>123</td>
    </tr>

    <tr>
        <td>測試</td>
        <td>456</td>
        <td>測試</td>
        <td>456</td>
    </tr>
</table>
@{Html.RenderPartial("_SysDatePartial");}
@{Html.RenderAction("", "");}